html,
body {
    width: 100%;
    height: 100%;
    margin: 0%
}

canvas {
    width: 100%;
    height: 100%;
}

/* using css to make a start menu!*/
.center{ /* centres the div */
    display: flex;
    justify-content: center;
}

.startmenu{
    position: absolute; /* makes div moveable */
    backdrop-filter: blur(8px); /* blurs background */
    background-color: rgba(255,255,255,.80); /* makes the background white */
    bottom: 0px; /* positions it */
    height: 100%;
    width: 100%;
    border-radius: 8px; /* rounds corners */
    z-index: 11000; /* puts it on top of everything */
}

.welcomesplat {
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 130px 367px;
    font-size: 45px;
    
}

/* styling the "new work" button with CSS! */
.button {
    border: none;
    color: darkslategray;
    width: 172px;
    height: auto;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    margin: 0;
    cursor: pointer;
    border-radius: 8px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

/* new work button */
.button1 {
    background-color: white;
    margin: 0; 
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -82px;
    

    
}

/* previous works button */
.button2 {
    background-color: white;
    margin: 0; 
    position: fixed;
    top: 70%;
    left: 50%;
    margin-top: -50px;
    margin-left: -82px;

}

/* settings button */
.button3 {
    background-color: white;
    margin: 0; 
    position: fixed;
    top: 60%;
    left: 50%;
    margin-top: -50px;
    margin-left: -82px;

}

/* actual settings */
.settings {
    background-color: white;
    color: darkslategray;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 600px;
    height: 300px;
    font-size: 20px;
    border-radius: 8px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    z-index: 11001;
    text-align: center;
    margin-top: 110px;
    margin-left: 320px;
    display: none;
}

.previousworks {
    background-color: white;
    color: darkslategray;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 600px;
    height: 300px;
    font-size: 20px;
    border-radius: 8px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    z-index: 11001;
    text-align: center;
    margin-top: 110px;
    margin-left: 320px;
    display: none;
}

